[Unit]
Description=LoRaWAN-Rohspeicher: alles von application/# nach wagodb.loradevice
Documentation=https://github.com/gerontec/TTN
After=network-online.target mosquitto.service chirpstack.service mariadb.service
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=gh
Group=gh
ExecStart=/usr/bin/python3 /home/gh/python/lora_log.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
